.filterWrapper {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.title {
    color: #000;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    margin: 0 0 15px 0;
}

.custom_radio, .custom_checkboxes {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 5px;
}

.custom_radio > input, .custom_checkboxes > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0 !important;
}

.custom_radio > .custom_radio_span::before, .custom_checkboxes > .custom_checkboxes_span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #DAD3D3;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 80%;
    margin-top: 4px;
    border-radius: 100%;
    transition: 0.3s ease;
}

.custom_checkboxes:hover > .custom_checkboxes_span::before {
    border: 2px solid #8C8B8B;
}

.custom_checkboxes:hover > .text {
    color: #000000;
}

.custom_radio > input:checked + .custom_radio_span::before, .custom_checkboxes > input:checked + .custom_checkboxes_span::before {
    opacity: 1;
    background-position: center;
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 10'%3e%3cpath stroke='%23F60' stroke-opacity='1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M1.57812 5.20312L4.85938 8.48438L11.4219 1.45312'/%3e%3c/svg%3e");*/
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icon_tick '%3E%3Cg id='Vector'%3E%3Cmask id='path-1-inside-1_1657_147' fill='white'%3E%3Cpath d='M15.987 0.759478C15.6874 0.601223 15.3578 0.500582 15.0171 0.463312C14.6764 0.426042 14.3314 0.452872 14.0016 0.54227C13.6719 0.631668 13.3639 0.781879 13.0954 0.984313C12.8269 1.18675 12.603 1.43743 12.4367 1.72204L7.59016 9.99978L4.81643 7.36731C4.57562 7.13067 4.28756 6.94192 3.96906 6.81207C3.65056 6.68222 3.308 6.61387 2.96137 6.61101C2.61474 6.60815 2.27099 6.67084 1.95016 6.79542C1.62933 6.91999 1.33785 7.10397 1.09274 7.3366C0.847629 7.56923 0.653786 7.84586 0.522525 8.15035C0.391263 8.45484 0.325211 8.78109 0.328224 9.11007C0.331236 9.43905 0.403251 9.76416 0.540068 10.0664C0.676885 10.3687 0.875764 10.6421 1.1251 10.8707L6.34623 15.8259C6.83962 16.2954 7.50531 16.5531 8.19189 16.5531L8.55346 16.5283C8.95359 16.4752 9.33527 16.3347 9.66845 16.1178C10.0016 15.9009 10.2772 15.6135 10.4735 15.2784L16.9999 4.12905C17.1666 3.84468 17.2725 3.53195 17.3118 3.20871C17.3511 2.88547 17.3229 2.55805 17.2288 2.24516C17.1348 1.93226 16.9767 1.64001 16.7636 1.3851C16.5506 1.13018 16.2867 0.917597 15.987 0.759478Z'/%3E%3C/mask%3E%3Cpath d='M15.987 0.759478L13.1851 6.06505L13.1868 6.06595L15.987 0.759478ZM12.4367 1.72204L17.6145 4.75358L17.6166 4.74999L12.4367 1.72204ZM7.59016 9.99978L3.45977 14.3518L8.9462 19.5588L12.768 13.0313L7.59016 9.99978ZM4.81643 7.36731L0.611077 11.6469L0.648249 11.6834L0.686049 11.7193L4.81643 7.36731ZM1.1251 10.8707L5.25548 6.51867L5.21775 6.48286L5.17941 6.44771L1.1251 10.8707ZM6.34623 15.8259L10.4824 11.4794L10.4766 11.4739L6.34623 15.8259ZM8.19189 16.5531V22.5531H8.39723L8.60209 22.5391L8.19189 16.5531ZM8.55346 16.5283L8.96366 22.5143L9.15399 22.5012L9.34311 22.4761L8.55346 16.5283ZM10.4735 15.2784L15.6509 18.3107L15.6516 18.3094L10.4735 15.2784ZM16.9999 4.12905L11.8232 1.09572L11.8218 1.09798L16.9999 4.12905ZM18.789 -4.5461C17.8131 -5.06149 16.7532 -5.38256 15.6696 -5.5011L14.3646 6.42772C13.9624 6.38372 13.5617 6.26393 13.1851 6.06505L18.789 -4.5461ZM15.6696 -5.5011C14.5862 -5.61963 13.4872 -5.53485 12.4316 -5.24868L15.5716 6.33322C15.1756 6.4406 14.7667 6.47172 14.3646 6.42772L15.6696 -5.5011ZM12.4316 -5.24868C11.3758 -4.96243 10.3726 -4.47703 9.48355 -3.80677L16.7073 5.7754C16.3552 6.04078 15.968 6.22576 15.5716 6.33322L12.4316 -5.24868ZM9.48355 -3.80677C8.59385 -3.13605 7.83213 -2.29021 7.25676 -1.30592L17.6166 4.74999C17.3739 5.16507 17.0599 5.50955 16.7073 5.7754L9.48355 -3.80677ZM7.25885 -1.3095L2.41234 6.96824L12.768 13.0313L17.6145 4.75358L7.25885 -1.3095ZM11.7205 5.64778L8.94682 3.01531L0.686049 11.7193L3.45977 14.3518L11.7205 5.64778ZM9.02179 3.08771C8.21294 2.29289 7.26251 1.6753 6.2342 1.25607L1.70392 12.3681C1.3126 12.2085 0.938294 11.9684 0.611077 11.6469L9.02179 3.08771ZM6.2342 1.25607C5.2063 0.837001 4.11139 0.620291 3.01085 0.611215L2.91189 12.6108C2.50462 12.6074 2.09482 12.5274 1.70392 12.3681L6.2342 1.25607ZM3.01085 0.611215C1.91032 0.602138 0.812391 0.800758 -0.221651 1.20227L4.12196 12.3886C3.72958 12.5409 3.31916 12.6142 2.91189 12.6108L3.01085 0.611215ZM-0.221651 1.20227C-1.25609 1.60394 -2.21599 2.20478 -3.03764 2.9846L5.22313 11.6886C4.8917 12.0032 4.51474 12.236 4.12196 12.3886L-0.221651 1.20227ZM-3.03764 2.9846C-3.85998 3.76506 -4.52844 4.71066 -4.98732 5.77514L6.03237 10.5256C5.83601 10.9811 5.55524 11.3734 5.22313 11.6886L-3.03764 2.9846ZM-4.98732 5.77514C-5.44659 6.84052 -5.68225 7.99396 -5.67152 9.16501L6.32797 9.05514C6.33267 9.56823 6.22912 10.0692 6.03237 10.5256L-4.98732 5.77514ZM-5.67152 9.16501C-5.6608 10.336 -5.40409 11.4845 -4.9261 12.5405L6.00623 7.59237C6.21059 8.04387 6.32327 8.54208 6.32797 9.05514L-5.67152 9.16501ZM-4.9261 12.5405C-4.44852 13.5957 -3.76406 14.5284 -2.92921 15.2936L5.17941 6.44771C5.51558 6.75587 5.80229 7.14178 6.00623 7.59237L-4.9261 12.5405ZM-3.00529 15.2227L2.21584 20.1779L10.4766 11.4739L5.25548 6.51867L-3.00529 15.2227ZM2.2101 20.1725C3.85962 21.7421 6.02257 22.5531 8.19189 22.5531V10.5531C8.98806 10.5531 9.81962 10.8487 10.4823 11.4794L2.2101 20.1725ZM8.60209 22.5391L8.96366 22.5143L8.14326 10.5424L7.78169 10.5671L8.60209 22.5391ZM9.34311 22.4761C10.6153 22.3072 11.8479 21.8584 12.9419 21.1461L6.39499 11.0894C6.82268 10.811 7.29187 10.6432 7.7638 10.5805L9.34311 22.4761ZM12.9419 21.1461C14.0371 20.4332 14.9722 19.4695 15.6509 18.3107L5.2962 12.246C5.58226 11.7576 5.96622 11.3685 6.39499 11.0894L12.9419 21.1461ZM15.6516 18.3094L22.178 7.16012L11.8218 1.09798L5.29543 12.2473L15.6516 18.3094ZM22.1767 7.16237C22.7532 6.17848 23.1285 5.08093 23.268 3.93239L11.3556 2.48503C11.4166 1.98297 11.5799 1.51088 11.8232 1.09572L22.1767 7.16237ZM23.268 3.93239C23.4076 2.78351 23.3066 1.62168 22.9748 0.5179L11.4828 3.97242C11.3391 3.49443 11.2946 2.98743 11.3556 2.48503L23.268 3.93239ZM22.9748 0.5179C22.6432 -0.585155 22.0916 -1.59627 21.3673 -2.46282L12.16 5.23301C11.8618 4.87629 11.6263 4.44968 11.4828 3.97242L22.9748 0.5179ZM21.3673 -2.46282C20.6436 -3.32859 19.7632 -4.03198 18.7873 -4.54699L13.1868 6.06595C12.8101 5.86718 12.4575 5.58895 12.16 5.23301L21.3673 -2.46282Z' fill='%23FF0018' mask='url(%23path-1-inside-1_1657_147)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    border: 2px solid #505050;
    background-color: #F0EFEF;
}

.text {
    color: var(--Dark-grey, #505050);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    margin-top: 1px;
    transition: 0.3s ease;
}

.custom_checkboxes > input:checked ~ .text {
    color: #000000;
}